head {
    text-align: center;
}


.breadcrumb > li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumb li.location+li.location::before {
    content: "> ";
}
  
.breadcrumb li.location a::hover {
    color: olive;
    text-decoration: underline;
}
  
.breadcrumb li.attribute a{
    color: olivedrab;
    margin-left: 15px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #556B2F;
    text-align: center;
}

.serif {
    font-family: Times, "Times New Roman", Georgia, serif;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

h1, h2 {
    color: #12160b;
    background-color: rgb(41, 61, 0);
    margin: auto;
}

h3 {
    color: rgb(26, 71, 0);
}

table {
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
}

thead {
    background-color: rgb(41, 61, 0);
}

td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 15%;
    object-fit: contain;
}

.top {
    color: beige;
}

img {
    height: 100%;
    max-width: auto;
}
