h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    size: 100px;
    color: black;
    background: darkorange;
}

h3 {
    text-align: center;
    size: 100px;
    color: black;
    background: blueviolet;
}

p {
    text-align: center;
    size: 100px;
    color: brown;
}

#head {
    text-align: center; 
    font-size: 100px;
    font-weight: bold;
    font-family: helvetica;
    color: darkorange;
    margin: 0 auto;
}

#brush {
    background-color: darkorange;
}

#frame {
    background-color: darkgreen;
}

#paint {
    background-color: darkolivegreen;
}